@media(max-width: 320px){
    .search-box{
        border: solid thin #9B9B9B;
        border-radius: 8px;
        color: #4c4c4c;
        height: 40px;
        margin: 30px auto;
        padding: 0px 10px;
        width: 300px;
    }
    .discription{
        color: #9B9B9B;
        font-size: 10px;
        height: 60px;
        line-height: 20px;
        margin:30px auto;
        text-align: center;
        width: 320px;
    }

    .discription p{
        font-size:12px;
    }

    .enter{
        background-color: #70CADF;
        border-radius: 40px;
        color: white;
        cursor: pointer;
        cursor: hand;
        height: 50px;
        line-height: 50px;
        margin: 0px auto;
        margin-top: 30px;
        bottom: 20px;
        text-align: center;
        width: 280px;
    }

    .user-box{
        height: 50px;
        margin: 0px 10px;
        position: relative;
        width: 300px;
    }

    .flwBtn{
        height: 24px;
        width: 90px;
    }

    .user-icon{
        border-radius: 50px;
        cursor: pointer;
        cursor: hand;
        float: left;
        height: 40px;
        margin-left: 10px;
        width: 40px;
    }

    .user-name{
        color: #4C4C4C;
        cursor: pointer;
        cursor: hand;
        font-size: 14px;
        float: left;
        line-height: 50px;
        margin-left: 10px;
        height: 50px;
        width: 140px;
    }

    .follow-btn{
        display: inline-block;
        float: right;
        height: 30px;
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translateY(-50%);
        width: 80px;
    }
}
