body{
    width: 375px;
    margin:10px auto;
}

.logo2{
    height: 70px;
    display: block;
    margin: 0px auto;
    margin-top: 60px;
    width: 70px;
}

.text{
    height:40px;
    display: block;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 130px;
}

#cmt{
    margin: 0px auto;
    margin-bottom: 60px;
}

p{
    font-family: HiraginoSans-W3;;
    font-size: 20px;
    color: #4C4C4C;
    letter-spacing: 0;
    margin-left: 37px;
    text-align: center;
    line-height: 26px;
}

a:link{color:white;}
a:visited{color:white;}
a:hover{color:white;}
a:active{color:white;}
a{text-decoration:none;}

.enter{
    border-radius: 100px;
    background: #70CADF;
    color: white;
    cursor: pointer;
    cursor: hand;
    font-family: HiraginoSans;
    font-size: 14px;
    font-weight: 50;
    height: 50px;
    line-height: 50px;
    margin: 0px auto;
    margin-top: 30px;
    text-align: center;
    width: 300px;
    display: block;
}

.enter-chunk{
    height: 70px;
    margin: 0 auto;
    margin-top: 10px;
    width: 375px;
}

.enter-chunk-1{
    margin-top: 80px;

}

.enter-sentence{
    color:#70CADF;
    font-size: 10px;
    line-height: 0px;
    text-align: left;
}

.enter-1{
    margin-top: 100px;
}

.dot-box{
    height: 12px;
    margin: 0px auto;
    margin-top: 30px;
    width: 54px;
}

.dot{
    background-color: #FAAC2A;
    border-radius: 10px;
    display: inline-block;
    float: left;
    height: 10px;
    margin: 0px 3px;
    width: 10px;
}

#one{
    background-color: white;
    border: solid thin #9B9B9B;
}

#two{
    background-color: #70CADF;
    height: 12px;
    width: 12px;
}

#three{
    background-color: white;
    border: solid thin #9B9B9B;
}
