@media(max-width: 320px){
    body{
        width: 320px;
        margin:10px auto;
    }

    p {
        font-size: 18px;
    }

    .enter{
        background-color: #70CADF;
        border-radius: 40px;
        color: white;
        cursor: pointer;
        cursor: hand;
        height: 50px;
        line-height: 50px;
        margin: 0px auto;
        margin-top: 30px;
        bottom: 20px;
        text-align: center;
        width: 280px;
    }
} 
