.logo-set{
    height: 30px;
    width: 130px;
    top: 0px;
    left: 122px;
    position: absolute;
}

.logo2{
    display: inline;
    float: left;
    height: 30px;
    width: 30px;
}

.text{
    display: inline;
    float: left;
    height: 30px;
    width: 100px;
}

.detailBox{
    background-color: black;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 12px;
    height: 157px;
    margin: 0px auto;
    margin-top: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    width: 335px; 
}

.dotBoxInDetail{
    height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.detailBox:hover{
    border-radius: 5px;
}

.detailTitle{
    color: white;
    font-size: 22px;
    height: 50px;
    line-height: 25px;
    margin: 0px auto;
    position: absolute;
    text-align: left;
    top: 10px;
    left: 10px;
    width: 250px;    
}

.nameBox:hover{
    cursor:pointer;
    cursor:hand;
}

.detailPic{
    background-color:black;
    border-radius: 5px;
    height: 157px;
    object-fit: cover;
    width: 335px;
    opacity: 0.6;
}

.nameBox{
    background-color: white;
    border-radius: 5px;
    bottom: 10px;
    height: 26px;
    left: 10px;
    line-height:14px;
    padding: 3px;
    position: absolute;
    width: 154px;
}

.userIcon{
    border-radius: 18px;
    float: left;
    height: 20px;
    width: 20px;
}

.userName{
    color: #4C4C4C;
    font-size: 14px;
    float: left;
    margin: 0px 4px;
    text-align: center;
    line-height:14px;
}

.hrtBox{
    background-color: white;
    border-radius: 5px;
    bottom: 10px;
    color: #4C4C4C;
    height: 26px;
    left: 180px;
    position: absolute;
    width: 44px;
}

.hrtBox:hover{
    cursor:pointer;
    cursor:hand;
 }
#numCount{
    width:16px;
    height:16px;
}
.hrt-box a {
    height:16px;
    width:33px;
    float:left;
}

.hrt-box img{
    height:17px;
    width: 17px;
    position:absolute;
    top:20%;
    left:12%;
    z-index: 999;
}

#numCount{
    display: inline-block;
    width:20px;
    float:right;
    font-size:13px;
    line-height:13px;
    position:absolute;
    right:0;
    top:25%;
    z-index: 999;
}

.editBox{
    background-color: white;
    border-radius: 5px;
    bottom: 10px;
    color: white;
    height: 26px;
    padding: 3px;
    position: absolute;
    right: 10px;
    width: 44px;
}

.editBox:hover{
    cursor:pointer;
    cursor:hand;
  }

.fa-pencil-alt{
    color: white;
}

.editName{
    color: white;
    font-size: 14px;
    float: left;
    margin: 0px 4px;
    text-align: center;
    line-height:14px;
}

.boxContainer{
    display: block;
    margin-left: 20px;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 355px;
}

.box{
    background-color: black;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 12px;
    line-height: 163px;
    float: left;
    height: 157px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    opacity:0.7;
    position: relative;
    width: 157px;
}

.label{
  margin: 20px 0px 0px 7px;
  float:left;
  }

.memo{
  text-align:center;
  margin:60px 10px 30px 10px;
}


.box:hover{
    border-radius: 5px;
    cursor: pointer;
    cursor: hand;
}

.box-pic{
    border-radius: 5px;
    height: 157px;
    object-fit: cover;
    width: 157px;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0.65;
}

.box-mymap-pic{
    border-radius: 5px;
    height: 157px;
    object-fit: cover;
    width: 157px;
    opacity: 0.65;
}

.title{
    color: white;
    font-size: 18px;
    height: 50px;
    line-height: 25px;
    margin: 0px auto;
    position: absolute;
    text-align: center;
    top: 36px;
    left: 18px;
    width: 120px;
    text-overflow: ellipsis;
}

.dot-box{
    height: 10px;
    left: 10px;
    position: absolute;
    top: 10px;
}

.dot{
    background-color: #FAAC2A;
    border-radius: 10px;
    display: inline-block;
    float: left;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#eat{
    background-color: #FAAC2A;
}

#see{
    background-color: #21BE3A;
}

#buy{
    background-color: #F8537D;
}

#stay{
    background-color: #2038B3;
}
