.mymap-select{
    background-color: white;
    border-radius: 10px;
    border: solid thin #9B9B9B;
    color: #4C4C4C;
    height: 50px;
    margin: 0px auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 330px;
}
