.prof{
    height: 50px;
    margin: 20px auto;
    margin-left: 20px;
    width: 305px;
}

.prof-icon{
    border-radius: 50px;
    cursor: pointer;
    cursor: hand;
    float: left;
    height: 50px;
    width: 50px;
}

.prof-name{
    color: #9B9B9B;
    cursor: pointer;
    cursor: hand;
    font-size: 20px;
    float: left;
    line-height: 50px;
    margin-left: 20px;
    height: 50px;
    width: 180px;
}

.discription{
    color: #9B9B9B;
    font-size: 12px;
    height: 60px;
    line-height: 20px;
    margin:30px auto;
    text-align: center;
    width: 375px;
}

.disc-1{
    color: #696969;

    cursor: pointer;
    cursor: hand;
    display: inline-block;
    float: left;
    margin-left: 40px;
    margin-right: 37px;
    padding: 5px;
    width: 100px;
}

.disc-2{
    border-bottom: solid medium #70CADF;
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    margin-left: 37px;
    margin-right: 40px;
    float: left;
    padding: 5px;
    width: 100px;
}

.boxContainer{
    display: block;
    margin-left: 20px;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 355px;
}

.box{
    background-color: #cccccc;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 12px;
    line-height: 163px;
    float: left;
    height: 157px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 157px;
}

.mymaps_title {
  color:white;
}

.mymaps_title:hover{
  color:white;
}

.all_mymaps_title {
  color:white;
}

.all_mymaps_title:hover{
  color:white;
}

.box:hover{
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    cursor: hand;
}

.box-pic{
    border-radius: 5px;
    height: 157px;
    object-fit: cover;
    opacity: 0.65;
    position: absolute;
    top: 0;
    left:0;
    width: 157px;
}

.title{
    color: white;
    font-size: 18px;
    height: 50px;
    line-height: 25px;
    margin: 0px auto;
    position: absolute;
    text-align: center;
    top: 36px;
    left: 18px;
    width: 120px;
}

.dot-box{
    height: 10px;
    left: 10px;
    position: absolute;
    top: 10px;
}

.dot{
    background-color: #FAAC2A;
    border-radius: 10px;
    display: inline-block;
    float: left;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#eat{
    background-color: #FAAC2A;
}

#see{
    background-color: #21BE3A;
}

#buy{
    background-color: #F8537D;
}

#stay{
    background-color: #2038B3;
}

.hrt-box{
    background-color: white;
    border-radius: 5px;
    bottom: 36px;
    color: #4C4C4C;
    height: 16px;
    left: 65px;
    position: absolute;
    width: 33px;
    z-index: 99;
}

.hrt-box a {
    height:16px;
    width:33px;
    float:left;
    position: relative;
}

.hrt-box img{
    height:13px;
    width: 13px;
    position:absolute;
    top:15%;
    left:12%;
    z-index: 999;
}

#numCount{
    position:absolute;
    top:15%;
    left; 60%;
    font-size:8px;
    z-index: 999;
}
.name-box{
    bottom: 6px;
    color: white;
    font-size: 8px;
    line-height: 8px;
    position: absolute;
    width: 163px;
}

.name-box p{
  font-size: 13px;
}
